<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Dictionary API</h1>
    <div>
        <p><b>URL format</b>: http://127.0.0.1:5001/api/v1/ <font style="color: red;">&lt;word&gt;</font></p>
        <p><b>URL example</b>: http://127.0.0.1:5001/api/v1/<font style="color: red;">luminous</font></p>
    </div>

    <h1>Text Transform API</h1>
    <div>
        <p><b>URL format</b>: http://127.0.0.1:5001/api/v1/<font style="color: red;">&lt;word&gt;</font>/case</p>
        <p><b>URL example</b>: http://127.0.0.1:5001/api/v1/<font style="color: red;">luminous</font>/case</p>
    </div>
    

</body>
</html>